<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Курьерская служба</title>
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/javascripts/custom_control.js")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d40fb052-95ef-400a-b9ad-d8e14749a9be" type="text/javascript"></script>


    <script type="text/javascript" src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-form-generator/dist/vfg.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-form-generator/dist/vfg.css">
</head>
<body>
    block content
    script(src="/javascripts/main.js")
    <script src="http://beloweb.ru/demo/prokrutka/jquery.mCustomScrollbar.concat.min.js"></script>
</body>
</html>
