extends base.pug

block content
    <header>
      <div> </div>
      <div class="header_item send"><p>ОТПРАВИТЬ ПОСЫЛКУ</p></div>
      <div class="header_item shop" ><p>МАГАЗИНЫ</p></div>
      <div class="header_item cabinet"><p>ЛИЧНЫЙ КАБИНЕТ</p></div>
      <div></div>
    </header>


    <section id="container">
            <span>
            if name
                | #{name}
            else
                | Дебил
            | , мы нечто большее, <br>чем просто курьерская служба
            </span>
    </section>


    <section id="send" class="overflow sec_block">
      <div class="send_block ">





        <div class="container" id="app">
          <div class="panel panel-default">
            <div class="panel-heading">Form</div>
            <div class="panel-body">
              <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Model</div>
            <div class="panel-body">
              <pre v-if="model" v-html="prettyJSON(model)"></pre>
            </div>
          </div>



          <div class="ya_map_A" id="A">
            <br>
            //- <div class="center_point_map"></div>
            |Координаты маркера: <div id="location">LatLng(54.98, 82.89)</div>
            //- <div id="map_A"></div>
            <div id="map_A" ></div>
          </div>
            <div class="ya_map_B" id="B">
                <br>
                <div class="center_point_map"></div>

                <div id="map_B"></div>
                <div id="map_ras" style="display: none;"></div>
            </div>
        </div>
      </div>
    </section>


    <section id="shop" class="overflow sec_block">
        <div class="shop_block">
            each shop in shops
                <div class="block_shop_item overflow">
                |#{shop.name}
                </div>

        </div>
    </section>


    <section id="cabinet" class="overflow sec_block">
      <div class="cabinet_block">3</div>
    </section>
    <footer>

    </footer>
    <div id="overflow"></div>
    <div class="bg-wrapper">
      <div class="bg-grad one active"></div>
      <div class="bg-grad two"></div>
      <div class="bg-grad three"></div>
      <div class="bg-grad four"></div>
      <div class="bg-grad five"></div>
      <div class="bg-grad six"></div>
    </div>

    script.
        var locationInfo = document.getElementById('location');

              DG.then(function () {
                  var map,
                      marker;

                  map = DG.map('map_A', {
                      center: [54.981, 82.891],
                      zoom: 15
                  });

                  marker = DG.marker([54.981, 82.891], {
                      draggable: true
                  }).addTo(map);

                  marker.on('drag', function(e) {
                      var lat = e.target._latlng.lat.toFixed(3),
                          lng = e.target._latlng.lng.toFixed(3);
                      console.log(lat + ", "+lng);
                      locationInfo.innerHTML = lat + ', ' + lng;
                  });
              });