extends base.pug

block content
    <header>
      <div> </div>
      <div class="header_item send"><p>ОТПРАВИТЬ ПОСЫЛКУ</p></div>
      <div class="header_item shop" ><p>МАГАЗИНЫ</p></div>
      <div class="header_item cabinet"><p>ЛИЧНЫЙ КАБИНЕТ</p></div>
      <div></div>
    </header>


    <section id="container">
            <span>
                | #{user.name}

            | , мы нечто большее, <br>чем просто курьерская служба
            </span>
    </section>


    <section id="send" class="overflow sec_block">
      <div class="send_block ">





        <div class="container" id="app">
          <div class="panel panel-default">
            <div class="panel-heading">Оформление заказа</div>
            <div class="panel-body">
              <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
            </div>
            <div class="rules">
              <h1>Правила</h1>
              <ol>
                <li>Чебурашка</li>
                <li>Крокодил Гена</li>
                <li>Шапокляк</li>
                <li>Крыса Лариса</li>
                <li>Крыса Лариса</li>
                <li>Крыса Лариса</li>
                <li>Крыса Лариса</li>
                <li>Крыса Лариса</li>
                <li>Крыса Лариса</li>
                <li>Крыса Лариса</li>
                <li>Крыса Лариса</li>
              </ol>
            </div>
          </div>
          <div id="map"></div>
          //- <div class="panel panel-default">
          //-   <div class="panel-heading">Модель</div>
          //-   <div class="panel-body">
          //-     <pre v-if="model" v-html="prettyJSON(model)"></pre>
          //-   </div>
          //- </div>



          <div class="ya_map_A" id="A">
            <br>
            //- <div class="center_point_map"></div>
            |Координаты маркера: <div id="location">LatLng(54.98, 82.89)</div>
            //- <div id="map_A"></div>
            <div id="map_A" ></div>
          </div>
            <div class="ya_map_B" id="B">
                <br>
                <div class="center_point_map"></div>

                <div id="map_B"></div>
                <div id="map_ras" style="display: none;"></div>
            </div>

        </div>
      </div>
    </section>


    <section id="shop" class="overflow sec_block">
        <div class="shop_block">
            include shop/shops

        </div>
    </section>


    <section id="cabinet" class="overflow sec_block">
    <input type="hidden" value="#{user.id}" id="id_user">
   
      if user.status == 'cli' 
        include lk/cli
      if user.status == 'cur' 
        include lk/cur
      if user.status == 'mag' 
        include lk/mag
    </section>
    <footer>

    </footer>
    <div id="overflow"></div>
    <div class="bg-wrapper">
      <div class="bg-grad one active"></div>
      <div class="bg-grad two"></div>
      <div class="bg-grad three"></div>
      <div class="bg-grad four"></div>
      <div class="bg-grad five"></div>
      <div class="bg-grad six"></div>
    </div>

    script.
        window.onload = function() {
           vm.model.name = '#{user.name}';
        };
        function exitUser(){
            document.cookie = "auth=false; ";
            location.reload();
        }
        var locationInfo = document.getElementById('location');

              DG.then(function () {
                  var map,
                      marker;

                  map = DG.map('map_A', {
                      center: [54.981, 82.891],
                      zoom: 15
                  });

                  marker = DG.marker([54.981, 82.891], {
                      draggable: true
                  }).addTo(map);

                  marker.on('drag', function(e) {
                      var lat = e.target._latlng.lat.toFixed(3),
                          lng = e.target._latlng.lng.toFixed(3);
                      console.log(lat + ", "+lng);
                      locationInfo.innerHTML = lat + ', ' + lng;
                  });
              });

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

    

