<input id="inp" type='file' style="display: none;">
<div class="cabinet_block">
	<div class="avatar" title="Выбрать изображение" style="background-image: url(#{user.avatar})">
	</div>
	<div class="info"> <h1> #{user.name}</h1>  </div>
	<div class="settings">
		<input type="button" value="Выйти из профиля" onclick="exitUser()">
		<input type="button" value="Написать в поддержку">
		<input type="button" value="Кнопка">
	</div>
	<div class="zakaz">История заказов</div>
	//- <div class="money">Заработанно за неделю: <br> <h1>4096 руб.</h1></div>
	//- <div class="current">текущие заказы</div>
</div>