<input id="inp" type='file' style="display: none;">
<div class="cabinet_block">
    <div class="avatar" title="Выбрать изображение" style="background-image: url(#{user.avatar})">
    </div>
    <div class="info"> <h1> #{user.name}</h1>  </div>
    <div class="settings">
        <input type="button" value="Выйти из профиля" onclick="exitUser()">
        <input type="button" value="Кнопка">
        <input type="button" value="Кнопка">
    </div>
    <div class="zakaz">Доступные заказы
        <button class="accordionA">Section 1</button>
        <div class="panelA">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="accordionA">Section 2</button>
        <div class="panelA">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="accordionA">Section 3</button>
        <div class="panelA">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="money">Заработанно за неделю: <br> <h1>4096 руб.</h1></div>
    <div class="current">Текущие заказы</div>
</div>